<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="student">
	<!--  값 전달 시 #{getter에서 get을 제외하고, 소문자로 시작하는 이름} OGNL방식 -->
  <insert id="insertStudent" parameterType="student">
  	insert into 
  		student(no, name, tel)
  	values(
  		seq_student_no.nextval,
  		#{name},
  		#{tel}
  	)
  </insert>
  
  <insert id="insertStudentMap" parameterType="map">
  insert into 
  		student(no, name, tel)
  	values(
  		seq_student_no.nextval,
  		#{name},
  		#{tel}
  	)
  </insert>
 <!-- select태그의 resultType/resultMap은 필수 속성이다. 둘 중 하나 반드시 작성 -->
 <select id="selectStudentCount" resultType="_int">
 select count(*)
 from student
 </select>
 
	<select id="selectOneStudent" resultType="student">
		select *
		from student
		where no = #{no}
	</select>
	
<!-- 	<select id="selectOneStudentMap" resultType="map"> -->
<!-- 		select no "no", name "name", tel "tel", reg_date "regDate" -->
<!-- 		from student -->
<!-- 		where no = #{no} -->
<!-- 	</select> -->
	
		<select id="selectOneStudentMap" resultMap="studentMap">
		select *
		from student
		where no = #{no}
	</select>
	<resultMap type="map" id="studentMap">
		<id column="no" property="no" />
		<result column="name" property="name" />
		<result column="tel" property="tel" />
		<result column="reg_date" property="regDate" />
	</resultMap>
	
	<update id="updateStudent" parameterType="student">
		update student
		set name = #{name}, tel = #{tel}
		where no = #{no}
	</update>
	
	<delete id="deleteStudent" parameterType="_int">
		delete from student
		where no = #{no}
	</delete>
	
	<select id="selectStudentList" resultType="student">
		select *
		from student		
		order by no desc
	</select>
	
	<!-- studentMap만들어둔거 재사용 -->
	<select id="selectStudentMapList" resultMap="studentMap">
		select *
		from student		
		order by no desc
	</select>
</mapper>














